@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.leaflet-control {
    background: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(20px) !important;
    color: #fff !important;
    border: none !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    background: transparent !important;
    color: #fff !important;
    border: none !important;
}

.leaflet-container {
    @apply rounded-3xl h-[70dvh] md:h-[80vh];
}

input[type="radio"]:not(.leaflet-control-layers-selector) {
    position: absolute;
    opacity: 0;
}

input[type="radio"]:checked ~ .radio {
    background-color: #fff;
    border-color: blue;
    border-width: 5px;
}

