@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "tailwindcss";

:root {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: theme(--color-neutral-950);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: theme(--color-neutral-50);
    }
}

.leaflet-control {
    background: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(20px) !important;
    color: #fff !important;
    border: none !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    background: transparent !important;
    color: #fff !important;
    border: none !important;
}
